.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

admin/views/tpl_c/*
!admin/views/tpl_c/.htaccess