{literal}
<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>
{/literal}
<div id="breadcrumbs" class="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a class="active" href="javascript:void(0);">首頁</a>
		</li>
	</ul><!--.breadcrumb-->
</div>

<div class="page-content">
	<div class="page-header">
		<h1>
			網站管理後台
			<small>
				<i class="icon-double-angle-right"></i>
				請點選左邊 功能選單，即可操作。
			</small>
		</h1>
	</div><!--/.page-header-->
	<div class="row">
		<div class="col-xs-12">
		<!--PAGE CONTENT BEGINS HERE-->

		<!--PAGE CONTENT ENDS HERE-->
		</div>
	</div>
</div>